*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}
body {
    background-color: #111;
}
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.home img {
    width: 9vw; 
    max-width: 9vw;
    height: auto;
}
.top-bar {
    font-size: 2vw;
    width: 100%;
    position: fixed;
    background-color: #34347850;
    top: 0;
    left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}
.top-bar a {
    color: #e94824;
    text-decoration: none;
    padding: 13px;
    transition-duration: 0.25s;
}
.top-bar a:hover {
    color: #ccac7b;
}
.title {
    font: 7.9vw message-box;
    text-shadow: 0.3vw 0.3vw 0.1vw #e4bf475b;
    margin-bottom: 12px;
    margin-top: 40px;
    transition-duration: 0.5s;
}
.title:hover {
    text-shadow: 0 0 12px #aaa;
}
.bienvenida {
    font-size: 2vw;
    text-align: center;
}
.softwarer {
    font: 2vw message-box;
    text-align: center;
    margin-top: 0.5vw;
}
.softwar{
    font-size: 3vw;
}
.softwarere{
    font-size: 2vw;
}
.sobre{
    font-size: 3.7vw;
    text-align: center;
    margin-top: 2vw;
}
.acerca{
    font-size: 2vw;
    text-align: center;
    padding: 3vw;
}
.cpy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.cpy-title {
    position: absolute;
    bottom: -7%;
    font: 3vw Lexend;
    width: 100%;
    text-align: center;
    background-color: #111;
    background-size: 100% 100%;
}
.soft{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    gap: 10vw;
}
.soft img {
    width: 8vw; 
    max-width: 8vw;
    height: 8vw;
}

.Element {
    text-align: center;
}

.second-title {
    font-size: 2vw;
    margin-top: 1vw;
}
.second-title a{
    color: #e4bf47;;
    text-decoration: none;
    transition-duration: 0.25s;
}
.second-title a:hover {
    color: #e4bf47d7;;
}